:root {
  --primary: #f8f6f6;
  --nlight: rgba(255, 255, 255, 70);
  --nlight2: rgba(49, 94, 114, 0.2);
  --ndark: rgba(0, 0, 0, 0.2);
  --secondary: #3e3e42;
  --tertiary: #007acc;
  --width: 0%;
  --warning: #cf6679;
  --success: #03dac5;
  --undo: #f8f6f6;
  --colorLight: rgb(225, 234, 238);
  --borderRadius: 24px;
  --boxShadow: 0 0.7rem 0.7rem var(--nlight2);
  --skillBoxShadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  --outerBoxShadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  --innerBoxShadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.darkMode {
  --colorLight: black;
  --primary: #181818;
  --nlight: #3e3e42;
  --undo: #f8f6f6;
  --width: 0%;
  --ndark: rgba(0, 0, 0, 0.4);
  --secondary: #3e3e42;
  --tertiary: #007acc;
  /* --warning: #cf6679; */
  --warning: crimson;
  --success: #03dac5;
  --boxShadow: 0 0.7rem 0.7rem var(--ndark);
  --skillBoxShadow: inset 4px 4px 8px -1px rgba(0, 0, 0, 0.7),
    inset -4px -4px 6px -1px rgba(77, 77, 77, 0.7),
    -0.5px -0.5px 0px rgba(77, 77, 77, 0.7),
    -0.5px -0.5px 0px rgba(0, 0, 0, 0.75),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  --outerBoxShadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.75),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.05);
  --innerBoxShadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.8),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.15),
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.15),
    -0.5px -0.5px 0px rgba(0, 0, 0, 0.75),
    0px 12px 10px -10px rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* ///////////////////////////////////////////////////////////////////
----- SCROLL BAR ------------------
/////////////////////////////////////////////////////////////////// */
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 100vw;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: var(--colorLight);
  border-radius: 100vw;
}
@supports (scrollbar-color: white grey) {
  * {
    scrollbar-color: var(--primary) var(--colorLight);
    scrollbar-width: auto;
  }
}
/* ///////////////////////////////////////////////////////////////////// */

body {
  background: var(--colorLight);
}

/* body{
  display: flex;
  flex-direction: row;
  padding: 1vw
  width: 100vw;
  height: 100vh;
} */
h1,
h2,
.text {
  color: var(--secondary);
  background: transparent;
}
input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
input {
  color: var(--secondary);
  background: var(--primary);
  padding: 1rem;
  font-size: large;
  font-weight: 500;
  border-radius: var(--borderRadius);
}

.container {
  background: var(--primary);
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  padding: 1vw;
  width: 90vw;
  height: 90vh;
  border-radius: var(--borderRadius);
  /* overflow: hidden ; */
}

.leftSide {
  padding: 1rem;
  width: 49vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: var(--borderRadius);
}

.progress {
  display: none;
  height: 1rem;
  background-color: var(--colorLight);
  position: relative;
  border-radius: var(--borderRadius);
}

.progressBar {
  display: none;
  position: absolute;
  height: 100%;
  border-radius: var(--borderRadius);
  background: linear-gradient(to right, rgb(228, 51, 51), purple, purple, blue);
  animation: progressAnim 3s forwards;
}

@keyframes progressAnim {
  0% {
    width: 0;
  }
  100% {
    width: var(--width);
  }
}

.tasksTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reset {
  background: var(--colorLight);
  color: var(--tertiary);
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 17px;
  border-radius: var(--borderRadius);
  margin-bottom: 0.2rem;
}
.reset:active {
  border: solid 1px var(--tertiary);
}

header {
  margin-bottom: 3rem;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.SubmitNewTask {
  background: var(--tertiary);
  color: var(--primary);
  font-family: "Poppins", sans-serif;
}
#submitIcon {
  display: none;
}
.time {
  font-size: small;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  color: var(--secondary);
}
.task {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background: var(--colorLight);
  box-shadow: var(--boxShadow);
  transition: all 300ms ease;
}
.task:hover {
  margin: 0 0.1rem 1rem 0.1rem;
  box-shadow: none;
}

#newTaskForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background: var(--colorLight);
}

.leftInterface {
  position: relative;
  top: 5vh;
}
.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.todo h1 {
  display: inline-block;
}
.todo .themeToggler {
  border-radius: var(--borderRadius);
  border: solid 3px var(--secondary);
  background: var(--primary);
  padding: 0.3rem;
  align-self: flex-end;
  justify-self: end;
}
.todo .themeToggler:last-child {
  color: var(--secondary);
}
.edit {
  color: var(--tertiary);
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
  padding: 0.4rem;
}
.edit:hover {
  background: rgba(0, 0, 0, 0.055);
  border-radius: 50%;
}
.edit:active {
  background: none;
}
.done {
  margin: 1rem 0.3rem 0 0.3rem;
  color: var(--success);
  cursor: pointer;
  padding: 0.4rem;
}
.done:hover {
  background: rgba(0, 0, 0, 0.055);
  border-radius: 50%;
}
.done:active {
  background: none;
}
.blurr {
  display: none;
}
.completed {
  font-family: "Poppins", sans-serif;
  text-align: center;
  align-items: center;
  cursor: default;
  justify-content: center;
  color: var(--undo);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: var(--borderRadius);
}
.deleted {
  color: var(--warning);
  /* width: 3rem; */
  margin-left: 0.3rem;
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.4rem;
}
.deleted:hover {
  background: rgba(0, 0, 0, 0.055);
  border-radius: 50%;
}
.deleted:active {
  background: none;
}

/* ////////// RIGHT SIDE /////////////////////////////////////// */
.skill {
  margin-left: 4.5vw;
  margin-right: 4.5vw;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  width: 40vw;
  height: 40vw;
  position: relative;
  top: 5vh;
  box-shadow: var(--skillBoxShadow);
}

.outer {
  position: relative;
  /* height: 160px;
  width: 160px; */
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  padding: 3.125vw;
  box-shadow: var(--outerBoxShadow);
}

.inner {
  /* height: 120px;
  width: 120px; */
  height: 18.75vw;
  width: 18.75vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--innerBoxShadow);
}

#number {
  font-weight: 600;
  font-size: 3.125rem;
  color: #555;
}
circle {
  justify-items: center;
  align-self: center;
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 1065;
  stroke-dashoffset: 1065;
  animation: anim 2s forwards;
}

svg {
  overflow: visible;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 37vw;
  left: 37vw; */
  transform: translateX(-50%, -50%);
}
.rotate {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.85);
}
.rotate h1 {
  display: none;
  color: white;
}
.rotate span {
  display: none;
  color: white;
  font-size: 40px;
}

/* @keyframes anim {
  100% {
    stroke-dashoffset: 431.9;
  }
} */

/* ////////////////////////////////////////////////////////////////////////
------------------------ MEDIA QUERIES -----------------------------------
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width: 550px) {
  .progress,
  .progressBar {
    display: block;
  }
  .progress {
    margin-bottom: 2rem;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
  }
  /* //////////////////////// LEFT SIDE //////////////////////////// */
  .leftSide {
    align-self: center;
    width: 100vw;
  }
  #newTaskForm {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    background: transparent;
  }
  #newTaskInput {
    background: var(--colorLight);
  }

  .time {
    margin-top: 0rem;
  }
  #submitText {
    display: none;
  }
  #submitIcon {
    display: block;
  }
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    justify-content: space-between;
  }
  .text {
    margin-top: 1.8rem;
  }
  .deleted {
    margin-right: 0.3rem;
  }

  .edit,
  .done,
  .deleted {
    margin-top: 0rem;
  }

  .leftInterface {
    padding-bottom: 2rem;
    /* top: 5vw; */
  }
  .header {
    margin: 0;
  }

  /* ///////////////// RIGHT SIDE ///////////////////////////// */
  .rightSide {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-content: center;
    height: 100vw;
    display: none;
  }
  .skill {
    display: none;
    width: 80vw;
    height: 80vw;
  }
  .outer {
    display: none;
    width: 50vw;
    height: 50vw;
    padding: 6.25vw;
  }
  .inner {
    display: none;
    width: 37.5vw;
    height: 37.5vw;
  }
  circle {
    display: none;
    stroke-width: 10px;
    stroke-dasharray: 1030;
    stroke-dashoffset: 1030;
  }
  svg {
    display: none;
    top: 27%;
    left: 27%;
  }
}

@media (orientation: landscape) and (max-width: 800px) {
  .rotate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rotate h1 {
    display: flex;
  }
  .rotate span {
    display: flex;
  }
  .content {
    justify-content: space-between;
  }
  #submitText {
    display: none;
  }
  #submitIcon {
    display: block;
  }
}

@media (orientation: portrait) and (min-width: 551px) {
  .rotate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rotate h1 {
    display: flex;
  }
  .rotate span {
    display: flex;
  }
  .content {
    justify-content: space-between;
  }
}

@media (orientation: landscape) and (max-width: 1035px) {
  #submitText {
    display: none;
  }
  #submitIcon {
    display: block;
  }
  .content {
    justify-content: space-between;
    align-content: space-between;
  }
  svg {
    display: none;
    top: 27%;
    left: 27%;
  }
}
